<!DOCTYPE html> 
<html>
    <head>
        <title>commonsfeed.us - Push your awesome activities on Wikimedia Commons to Facebook!</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style>
            #footer {
                text-align: center;
            }
            .right {
                text-align: right;
            }
            .starting #starting {
                display: block;
            }
            .no-facebook #facebook-state {
                display: block;
            }
            .no-commons #commons-state {
                display: block;
            }
            .authenticated #authenticated-state {
                display: block;
            }
            .not-shown {
                display: none;
            }
        </style>
    </head>

    <body>
        <div id="fb-root"></div>
        <script>
            var stateEnter = {
                "starting": function() {
                    FB.getLoginStatus( function( resp ) {
                        if( resp.status === 'connected' ) {
                            fbUserID = resp.authResponse.userID;
                            $.get( '/user/' + fbUserID ).done( function( data ) {
                                if( data ) {
                                    userdata = data;
                                    setState( 'authenticated' );
                                } else {
                                    setState( "no-commons" );
                                }
                            });
                            setState( "no-commons" );
                        } else {
                            setState( "no-facebook" );
                        }
                    });

                },
                "authenticated": function() {
                    $( 'span#commons-display-name' ).text( userdata.commons_username );
                    $( 'span#commons-last-sync' ).text( userdata.last_sync || 'unsynced' );
                }
            };


            function setState( state ) {
                $( "body" ).removeClass( "no-facebook starting no-commons" ).addClass( state );
                if( stateEnter[ state ] ) {
                    stateEnter[ state ]();
                }
            }

            var fbUserID = null;
            var userdata = null;

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '545467088820536', // App ID
                    channelUrl : '//commonsfeed.us/channel.html', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
                });

                $( "#facebook-login" ).click( function() {
                    FB.login( function( resp ) {
                        if( resp.authResponse ) {
                            fbUserID = resp.authResponse.userID;
                            setState( "no-commons" );
                        }
                    }, { scope: "publish_actions" } );
                    $( this ).text( "Logging in..." );
                    return false;
                } );

                $( "#commons-login" ).click( function() {
                    var commonsUserName = $( "#commons-username" ).val();
                    $.post( '/user', { commons_username: commonsUserName, facebook_userid: fbUserID } ).done( function( data ) {
                        userdata = data;
                        setState( 'authenticated' );
                    } );
                    return false;
                } );

                setState( 'starting' );

            };

            // Load the SDK Asynchronously
            (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));
        </script>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Commons Feed</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="starting" class="hero-unit not-shown">
                Just a moment...
            </div>
            <div id="facebook-state" class="hero-unit not-shown">
                <p>Login with Facebook
                    <a href="#" id="facebook-login" class="btn  btn-primary disabled">Log In</a>
                </p>
            </div>
            <div id="commons-state" class="hero-unit not-shown">
                <p>Your commons username: </p>
                <div class="input-prepend input-append">
                    <span class="add-on">User:</span>
                    <input type="text" id="commons-username" />
                    <a href="#" id="commons-login" class="btn btn-primary">Feed!</a>
                </div>
            </div>

            <div id="authenticated-state" class="hero-unit not-shown">
                <p>Welcome, <span id="commons-display-name"> </span></p>
                <p>Last sync: <span id="commons-last-sync"> </span></p>
            </div>

            <div class="row">
                <div id="footer" class="span12"><small>Code by <a href="http://yuvi.in">Yuvi Panda</a>, with the awesome <a href="http://ragesoss.com">Sage Ross</a> for inspiration and support</small></div>
            </div>
        </div>
    </body>
</html>
