<!DOCTYPE html> 
<html>
    <head>
        <title>commonsfeed.us - Push your awesome activities on Wikimedia Commons to Facebook!</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="/static/main.css" rel="stylesheet" />
    </head>

    <body>
        <div id="fb-root"></div>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Commons Feed</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="starting" class="hero-unit not-shown">
                Just a moment...
            </div>
            <div id="facebook-state" class="hero-unit not-shown">
                <p>Login with Facebook
                    <a href="#" id="facebook-login" class="btn  btn-primary disabled">Log In</a>
                </p>
            </div>
            <div id="commons-state" class="hero-unit not-shown">
                <p>Your commons username: </p>
                <div class="input-prepend input-append">
                    <span class="add-on">User:</span>
                    <input type="text" id="commons-username" />
                    <a href="#" id="commons-login" class="btn btn-primary">Feed!</a>
                </div>
            </div>

            <div id="authenticated-state" class="hero-unit not-shown">
                <p>Welcome, <span id="commons-display-name"> </span></p>
                <p>Last sync: <span id="commons-last-sync"> </span></p>
            </div>

            <div class="row">
                <div id="footer" class="span12"><small>Code by <a href="http://yuvi.in">Yuvi Panda</a>, with the awesome <a href="http://ragesoss.com">Sage Ross</a> for inspiration and support</small></div>
            </div>
        </div>
        <script src="/static/main.js" type="text/javascript"> </script>
    </body>
</html>
