<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# wikiactivity: http://ogp.me/ns/fb/wikiactivity#">
        <meta property="fb:app_id"            content="545467088820536" /> 
        <meta property="og:type"              content="wikiactivity:media_file" /> 
        <meta property="og:url"               content="{{current_url}}" /> 
        <meta property="og:title"             content="{{display_title}}" /> 
        <meta property="og:image"             content="{{image_url}}" /> 
        <meta property="wikiactivity:license" content="CC BY-SA" /> 
        <script>
            window.location.href = "{{commons_url}}";
        </script>
    </head>
</html>
